
@{
    ViewBag.Title = "Attempt Exhausted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="span12">



       
                <div class="widget-content">

                    <h1>Attempt Exhausted</h1>

                    <p>You are not authorized to take this test as you've exhausted the total number of allowed attempt</p>
                </div> <!-- /widget-content -->


        </div> <!-- /widget -->

    </div> <!-- /span12 -->

