
@{
    ViewBag.Title = "Invalid Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="span12">



       
                <div class="widget-content">

                    <h1>Invalid Access</h1>

                    <p>You are not authorized to take this test, If you believe this is an error, kindly get in touch with us via the support page</p>
                </div> <!-- /widget-content -->


        </div> <!-- /widget -->

    </div> <!-- /span12 -->

