
@{
    ViewBag.Title = "On Going Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="span12">



       
                <div class="widget-content">

                    <h1>On Going Test</h1>
                    <p>You are not authorized to take this test, Please be informed that you are running the test already and youv not used up all your alloted time.Please return to the testpage or wait for 24 hours for retake </p>

                </div> <!-- /widget-content -->


        </div> <!-- /widget -->

    </div> <!-- /span12 -->

