
@{
    ViewBag.Title = "Choose An Exam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Choose An Exam</h2>
@using (Html.BeginForm("ReportSheet","WebAdmin",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Exam List", htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.DropDownList("ExamId", String.Empty)
        </div>


 <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Exam" class="button btn btn-success btn-small" />
            </div>
        </div>
    </div>
}

