
@{
    ViewBag.Title = "Frequently Asked Questions";
}
<link href="~/css/pages/faq.css" rel="stylesheet" />
<div class="row">
    <div class="span12">
        <div class="widget">

            <div class="widget-header">
                <i class="icon-pushpin"></i>
                <h3>Frequently Asked Questions</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">

                <ol class="faq-list">

                    <li>
                        <h4>How do i take a test</h4>
                        <p>
                            Kindly login with your username and password afterwhich all test you are expected to attempt would be displayed.
                        </p>

                    </li>

                    <li>
                        <h4>I dont have login detail,can i register.</h4>
                        <p>
                            No you may not register yourself,The administrator will do and send you your login details thereafter.

                        </p>

                    </li>
                    <li>
                        <h4>How do i check my result.</h4>
                        <p>
                            Kindly Login with username and password and proceed to "My Result" Page. All the details of your past tests would b made available to you

                        </p>

                    </li>
                    <li>
                        <h4>Im having Problems Taking my Test.</h4>
                        <p>
                           Kindly call any of the phone numbers on the Support page or fill the form available on the support page and a we'll get in touch with you with 2 working hours
                        </p>

                    </li>
                </ol>
            </div> <!-- /widget-content -->

        </div> <!-- /widget -->

    </div> <!-- /spa12 -->


</div> <!-- /widget -->


